form.form-horizontal#search-form[method="post" action="#"]
  fieldset
    .control-group
      label.control-label[for="search"] Search Your Twitter Stream
      .controls
        input[name="twitter-search" id="search" type="text" class="input-xxlarge"]
    .control-group
      label.control-label[for="geo"] Restrict to within 50mi of your current location?
      .controls
        input[name="geo" id="geo" type="checkbox" value="0" ]
	span#nav-error.alert-error
    .control-group
      .controls
        button.btn[type="submit"] Submit

#results

javascript:

  var loc = null;
  function get_geo() {
    if ($('#geo').is(':checked')) {
      return { longitude: loc.coords.longitude, latitude: loc.coords.latitude }
    } else {
      return null;
    }
  };

  function do_search(data) {
    $('#results').html('Please wait...');
    $('input[name=twitter-search]').val(data);
    var request = $.ajax({
      url: '/search',
      data: {
        q: data,
        location: get_geo()
      },
      type: 'POST',
      dataType: 'html'
    });
    request.done(function(result) {
      $('#results').html(result);
    });
  };

  $(function() {
    var options = { enableHighAccuracy: true, timeout: 5000, maximumAge: 0 }
    function nav_success(pos) { loc = pos };
    function nav_failure(err) { $('#nav-error').html("Unable to get location: " + err) };
    navigator.geolocation.getCurrentPosition(nav_success, nav_failure, options);

    $(window).bind('hashchange', function(e) {
      var data = window.location.hash.replace('#','');;
      if (data.length) {
        if (data.match(/-geo$/)) {
          $('#geo').prop('checked', true);
          data = data.replace(/-geo$/, '');
        } else {
          $('#geo').prop('checked', false);
        };
        do_search(data);
      }
    });
  });

  $('#search-form').submit(function() {
    var data = $('input[name=twitter-search]').val();
    window.location.hash = data;
    if ($('#geo').is(':checked')) {
      window.location.hash += '-geo';
    }
    do_search(data);
    return false;
  });
