form.form-horizontal#search-form[method="post" action="#"]
  fieldset
    .control-group
      label.control-label[for="search"] Search Your Twitter Stream
      .controls
        input[name="twitter-search" id="search" type="text" class="input-xxlarge"]
    .control-group
      label.control-label[for="geo"] Restrict to within 50mi of your current location?
      .controls
        input[name="geo" id="geo" type="checkbox" value="0" ]
    .control-group
      .controls
        button.btn[type="submit"] Submit

#results

javascript:
  $('#geo').change(function() {
    if ($('#geo').is(':checked')) {
      var nav_success = function(pos) { window.loc = pos };
      navigator.geolocation.getCurrentPosition(nav_success);
    } else {
      window.loc = null;
    }
  });

  $('#search-form').submit(function() {
    $('#results').html('Please wait...');
    var data = $('input[name=twitter-search]').val();

    var request = $.ajax({
      url: '/search.json',
      data: {
        q: data,
        location: window.loc
      },
      type: 'POST',
      dataType: 'html'
    });
    request.done(function(result) {
      $('#results').html(result);
    });
    return false;
  });
